Repository arrayfire/arrayfire, pull requests merged in 2020-07, with the labels that each got.

#2958 Work around for bug, in cmake 3.5.1, related to NVCC header paths
  test/CMakeLists.txt
Labels: build, fix, test

#2959 Change backend Kernel::setScalar to be async by default
  src/backend/common/KernelInterface.hpp
  src/backend/cuda/Kernel.cpp
  src/backend/cuda/Kernel.hpp
  src/backend/cuda/kernel/canny.hpp
  src/backend/cuda/kernel/flood_fill.hpp
  src/backend/opencl/Kernel.cpp
  src/backend/opencl/Kernel.hpp
  src/backend/opencl/kernel/canny.hpp
  src/backend/opencl/kernel/flood_fill.hpp
Labels: CUDA, OpenCL, improvement

#2960 Remove cuDNN compute capablity check as its inaccurate
  src/backend/cuda/cudnnModule.cpp
Labels: CUDA, fix

#2962 Update 3.7.2 release notes with fixes from the past week
  docs/pages/release_notes.md
Labels: Documentation

#2963 Add support to cuDNN Dependency module to load verion 8 when available
  CMakeModules/FindcuDNN.cmake
  src/backend/cuda/convolveNN.cpp
  src/backend/cuda/cudnn.cpp
  src/backend/cuda/cudnn.hpp
  src/backend/cuda/cudnnModule.cpp
  src/backend/cuda/cudnnModule.hpp
Labels: CUDA, improvement

#2964 Fix the svd ndims check to limit inputs to 2D arrays
  src/api/c/svd.cpp
Labels: fix

#2967 Add clblast patch to handle custom context with multiple devices
  CMakeModules/build_CLBlast.cmake
  CMakeModules/clblast_program_getIR.patch
Labels: OpenCL, dependency, fix

#2969 Fix barrierOR fn in confidence connected opencl kernel
  src/api/c/confidence_connected.cpp
  src/backend/opencl/kernel/flood_fill.cl
  src/backend/opencl/kernel/flood_fill.hpp
  test/confidence_connected.cpp
Labels: OpenCL

#2970 Enable disk caching support for OpenCL kernel binaries
  src/backend/cuda/compile_module.cpp
  src/backend/opencl/compile_module.cpp
Labels: OpenCL, improvement

#2973 Fix incorrect macro and name in docs. Update links to https.
  docs/footer.htm
  docs/header.htm
  docs/pages/release_notes.md
Labels: Documentation

#2974 Add missing non-const Array::getNode method in CPU/OpenCL backends
  src/backend/cpu/Array.cpp
  src/backend/cpu/Array.hpp
  src/backend/cuda/Array.cpp
  src/backend/opencl/Array.cpp
Labels: build, fix

#2981 Add missing opencl-arrayfire interop fns in unified backend
  src/api/unified/CMakeLists.txt
  src/api/unified/opencl.cpp
Labels: build, fix
