Repository arrayfire/arrayfire, pull requests merged in 2020-05, with the labels that each got.

#2866 Cleanup opencl backend header inclusions
  src/backend/common/util.hpp
  src/backend/opencl/Array.cpp
  src/backend/opencl/Array.hpp
  src/backend/opencl/Event.hpp
  src/backend/opencl/Param.hpp
  src/backend/opencl/cast.hpp
  src/backend/opencl/cholesky.cpp
  src/backend/opencl/cl2hpp.hpp
  src/backend/opencl/complex.hpp
  src/backend/opencl/cpu/cpu_blas.cpp
  src/backend/opencl/debug_opencl.hpp
  src/backend/opencl/device_manager.hpp
  src/backend/opencl/err_opencl.hpp
  src/backend/opencl/kernel/bilateral.hpp
  src/backend/opencl/kernel/convolve/conv_common.hpp
  src/backend/opencl/kernel/convolve_separable.cpp
  src/backend/opencl/kernel/convolve_separable.hpp
  src/backend/opencl/kernel/fast.hpp
  src/backend/opencl/kernel/fftconvolve.hpp
  src/backend/opencl/kernel/laset.hpp
  src/backend/opencl/kernel/laswp.hpp
  src/backend/opencl/kernel/lookup.hpp
  src/backend/opencl/kernel/nearest_neighbour.hpp
  src/backend/opencl/kernel/range.hpp
  src/backend/opencl/kernel/regions.hpp
  src/backend/opencl/kernel/scan_dim.hpp
  src/backend/opencl/kernel/scan_dim_by_key_impl.hpp
  src/backend/opencl/kernel/select.hpp
  src/backend/opencl/kernel/sparse_arith.hpp
  src/backend/opencl/kernel/susan.hpp
  src/backend/opencl/kernel/swapdblk.hpp
  src/backend/opencl/kernel/tile.hpp
  src/backend/opencl/kernel/transpose.hpp
  src/backend/opencl/kernel/transpose_inplace.hpp
  src/backend/opencl/kernel/triangle.hpp
  src/backend/opencl/magma/magma_common.h
  src/backend/opencl/memory.cpp
  src/backend/opencl/platform.hpp
  src/backend/opencl/program.cpp
  src/backend/opencl/program.hpp
  src/backend/opencl/shift.cpp
  src/backend/opencl/traits.hpp
  src/backend/opencl/transform.cpp
  src/backend/opencl/types.hpp
Labels: OpenCL

#2865 adds bitwise not(~) operation to all backends
  include/af/arith.h
  include/af/array.h
  src/api/c/optypes.hpp
  src/api/c/unary.cpp
  src/api/cpp/array.cpp
  src/api/unified/arith.cpp
  src/backend/cpu/unary.hpp
  src/backend/cuda/kernel/jit.cuh
  src/backend/cuda/nvrtc/cache.cpp
  src/backend/cuda/unary.hpp
  src/backend/opencl/kernel/jit.cl
  src/backend/opencl/unary.hpp
  test/binary.cpp
Labels: feature

#2868 Remove CUDA backend BinOP default implementation
  src/backend/cuda/binary.hpp
Labels: build

#2870 Use kernel source with instance name for hashing
  src/backend/cuda/jit.cpp
  src/backend/cuda/nvrtc/cache.cpp
  src/backend/cuda/nvrtc/cache.hpp
Labels: CUDA, fix

#2877 CMake support to link against static Intel MKL
  CMakeLists.txt
  src/api/unified/CMakeLists.txt
  src/backend/cpu/CMakeLists.txt
  src/backend/opencl/CMakeLists.txt
Labels: build, dependency, feature

#2884 Use read/write buffer in reduce by key instead of fill buffer
  src/backend/opencl/kernel/reduce_by_key.hpp
Labels: OpenCL, build, fix

#2883 Fix input ndims validation in fast,orb,sift
  src/api/c/fast.cpp
  src/api/c/orb.cpp
  src/api/c/sift.cpp
Labels: fix

#2893 Enable ccache based compilation when it is available
  CMakeLists.txt
  CMakeModules/config_ccache.cmake
  CMakeModules/launch-c.in
  CMakeModules/launch-cxx.in
Labels: build, improvement

#2898 Fix hardcoded include paths in arrayfire_test library
  test/CMakeLists.txt
Labels: build, fix, test

#2907 Fix mem leak caused in opencl::removeDeviceContext function
  src/backend/opencl/compile_kernel.cpp
  src/backend/opencl/device_manager.cpp
  src/backend/opencl/device_manager.hpp
  src/backend/opencl/platform.cpp
Labels: OpenCL, fix

#2910 enqueueWriteBuffer asynchronously in vision kernels
  src/backend/opencl/kernel/fast.hpp
  src/backend/opencl/kernel/flood_fill.hpp
  src/backend/opencl/kernel/orb.hpp
  src/backend/opencl/kernel/regions.hpp
  src/backend/opencl/kernel/sift_nonfree.hpp
  src/backend/opencl/kernel/susan.hpp
Labels: OpenCL, fix
