Repository arrayfire/arrayfire, pull requests merged in 2020-11, with the labels that each got.

#3029 Use ArrayFire Stream for Thrust operations
  src/backend/cuda/ThrustArrayFirePolicy.hpp
Labels: CUDA

#3050 Fix the extra braces in cuda compile log message
  src/backend/cuda/compile_module.cpp
  src/backend/opencl/compile_module.cpp
Labels: CUDA, fix

#3035 Fix cmake warning for mismatched cond in if else arms
  src/backend/opencl/CMakeLists.txt
Labels: fix
