Repository arrayfire/arrayfire, pull requests merged in 2020-04, with the labels that each got.

#2829 std::initializer_list based constructors for af::array
  CMakeModules/InternalUtils.cmake
  CMakeModules/compilers.h
  include/af/array.h
  src/api/cpp/array.cpp
  test/array.cpp
Labels: feature

#2831 Fix the af_get_memory_pressure_threshold by assigning value parameter
  src/api/c/memory.cpp
Labels: bug

#2835 Fix constant mem declaration in CUDA morph kernel
  src/backend/cuda/kernel/morph.hpp
  src/backend/cuda/morph_impl.hpp
Labels: CUDA, fix

#2846 Fix install doc
  docs/pages/install.md
Labels: Documentation, fix

#2851 Fix work group function name conflict in OpenCL 2.0
  src/backend/opencl/kernel/reduce_blocks_by_key_dim.cl
  src/backend/opencl/kernel/reduce_blocks_by_key_first.cl
Labels: OpenCL, fix

#2855 Adjust JIT heuristics for the Intel GPU on the OpenCL backend
  src/backend/opencl/Array.cpp
  src/backend/opencl/binary.hpp
  src/backend/opencl/platform.cpp
  src/backend/opencl/platform.hpp
Labels: OpenCL, improvement, perf

#2848 Automatically cache compiled CUDA kernels on disk to speed up kernel compilation
  CMakeLists.txt
  src/backend/common/util.cpp
  src/backend/common/util.hpp
  src/backend/cuda/jit.cpp
  src/backend/cuda/nvrtc/cache.cpp
  src/backend/cuda/nvrtc/cache.hpp
Labels: CUDA, feature

#2862 Remove AF_TEST_WITH_MTX_FILES check for mmio project build
  test/CMakeLists.txt
Labels: build, fix, test
