Repository arrayfire/arrayfire, pull requests merged in 2020-03, with the labels that each got.

#2792 Fix deconvolution documentation with existing algos
  docs/details/image.dox
Labels: Documentation, fix

#2798 Use std::make_tuple instead of explicit tuple constructor
  src/backend/cuda/cudnnModule.hpp
Labels: CUDA, build, fix

#2804 Move __local array declaration to opencl kernel scope
  src/backend/opencl/kernel/reduce_blocks_by_key_dim.cl
  src/backend/opencl/kernel/reduce_blocks_by_key_first.cl
Labels: OpenCL, fix

#2806 Create a thrust policy to intercept tmp buffer allocations
  src/backend/cuda/CMakeLists.txt
  src/backend/cuda/ThrustArrayFirePolicy.cpp
  src/backend/cuda/ThrustArrayFirePolicy.hpp
  src/backend/cuda/kernel/regions.hpp
  src/backend/cuda/kernel/sift_nonfree.hpp
  src/backend/cuda/kernel/sort.hpp
  src/backend/cuda/kernel/thrust_sort_by_key_impl.hpp
  src/backend/cuda/set.cu
  src/backend/cuda/thrust_utils.hpp
Labels: CUDA, dependency, fix
