Repository arrayfire/arrayfire, pull requests merged in 2021-06, with the labels that each got.

#3145 OPT: eliminating temp buffer in cascading joins
  src/api/c/rgb_gray.cpp
  src/api/c/ycbcr_rgb.cpp
Labels: improvement, perf

#3151 Free unlocked buffers before tests run in rng quality tests
  test/rng_quality.cpp
Labels: fix, test

#3150 Use ONEAPI_ROOT env variable also for looking up MKL Installation
  CMakeModules/FindMKL.cmake
Labels: build, improvement

#3141 The compare function should return false, for equal elements.
  src/backend/cpu/kernel/sift.hpp
  test/gloh.cpp
  test/orb.cpp
  test/sift.cpp
  test/topk.cpp
Labels: CPU, fix

#3153 Fix gtest project warning/error with GCC greater than 10.3
  test/CMakeLists.txt
Labels: build, fix, test

#3152 Use normalized rng data for Large* tests of pinverse
  test/CMakeLists.txt
  test/pinverse.cpp
Labels: improvement, test
